body, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dd {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: YuGothic, 'Yu Gothic', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  color: #222;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul { list-style: none; }

a { text-decoration: none; }

.header {
  height: auto;
  padding: 8px 12px;
  border-bottom: 1px solid #E6E8EA
}

.contents{ overflow: hidden; }

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  /* position: fixed; */
  overflow: auto;
  border-right: 1px solid #E6E8EA;
}

.sidebar a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

a:hover {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main {
  margin-left: 200px;
  padding: 1px 16px;
}

.bread { padding: 10px 0px; }

.bread ul { display: flex; }

.bread li a {
  padding: 5px;
  color: #000000;
}

.bread li a:hover { background-color: #EEEEEE; }

.bread li:after {
  content: '\003e';
  margin-left: 10px;
  margin-right: 10px;
  color: #888888;
}

.bread li:last-child:after { content: ""; }

.clearfix::before {
  display: block;
  content: "";
}

.section { padding: 10px 0; }

.search { background-color: #F5F4F1; }

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form__group{ padding:1rem; }

.grid__col{ width: 50% }

.form__controls{ margin-top:.5rem; }

.form__input{ 
  width:100%;
  padding: 8px; 
}

.form_btn-item{
  width: 30%;
  padding: 10px 20px;
}

.reset__input, .submit__input{
  width: 100%;
  height: 40px;
  border-radius: 10px;
} 
.reset__input{ background-color:  #ffffff; }
.submit__input{ 
  color: #ffffff;
  background-color: #555;
}

.download_btn{
  width: 50%;
  background-color: #555;
  color: white;
  padding: 0.5em 1em;
  margin: 2em 0;
  border-radius: 4px;
  text-align: center;
  font-family: HiraginoSans-W6;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  text-align: left;
}

table{
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	border:1px solid #ccc;
	padding:0;
	margin:0;
}

table tr{
	border:1px solid #ddd;
	padding:5px;
}

table th, table td{
	padding:10px;
	text-align:center;
}

table th{
	font-size:14px;
	letter-spacing:1px;
}

.footer {
  text-align: center;
  background-color:#fffbee;
}

.footer_inner { padding: 40px 0 20px; }

/* PC */
@media (min-width: 769px){
  .sidebar{
    float: left;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
  }
  
  .form_btn-box{
    display: flex;
    justify-content: center;
  }
}

/* SP */
@media screen and (max-width: 768px) {

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .sidebar a {
    float: left;
    width: 50%;
    text-align: center;
    border: 1px solid #E6E8EA
  }
  
  .main {margin-left: 0;}
  
  .grid__col{ width: 100% }
  
  .form_btn-item{
    width: 100%;
  }
  
  .download_btn{ width: 100%;}
  
  table{ border:0; }

	table thead{ display:none; }

	table tr{
		margin-bottom:10px;
		display:block;
		border-bottom:2px solid #ddd;
	}

	table td{
		display:block;
		text-align:right;
		font-size:10px;
		border-bottom:1px dotted #ccc;
	}

	table td:last-child{ border-bottom:0; }

	table td:before {
		content:attr(data-label);
    float:left;
    font-size: 10px;
		font-weight: bold;
  }
  
  .footer_inner { width: 100%; }
  
}
