body, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dd {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: YuGothic, 'Yu Gothic', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  color: #222;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  height: auto;
  padding: 8px 12px;
  border-bottom: 1px solid #E6E8EA
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-right: 1px solid #E6E8EA
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.bread ul {
  display: flex;
  list-style-type: none;
}

.bread li a {
  padding: 5px;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}

.bread li a:hover {
  background-color: #EEEEEE;
}

.bread li:after {
  content: '\003e';
  margin-left: 10px;
  margin-right: 10px;
  color: #888888;
}

.bread li:last-child:after {
  content: "";
}


.clearfix::before {
  display: block;
  content: "";
  clear: both;
}

.section {
  padding: 10px 0;
}

.content_inner {
  margin: 0 auto;
  padding: 0 24px;
}

.vision {
  background-color: #F5F4F1;
  text-align: center;
}

.item {
  display: flex;
  flex-wrap: wrap;
}
.column {
  width: 49%;
  margin-bottom: 10px;
}

input{
  width: 80%;
  padding: 4px;
  font-size: 14px;
}
    

.reset input, .submit input{
  width: 30%;
  font-size: 16px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
}

.submit input{
  color: #ffffff;
  background-color: #555;
}

.company_table {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  margin: 48px auto 0;
}

.company_list {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 28px 20px 20px;
  border-bottom: 1px solid #D5D4CB;
}

.company_term {
  width: 160px;
  margin: 0 32px 0 0;
  font-size: 14px;
  font-weight: 700;
}

.company_content {
  width: calc(100% - 192px);
  font-size: 14px;
}

.company_content_link {
  color: #3479B7;
}

.footer {
  text-align: center;
}

.footer .content_inner {
  position: relative;
  padding: 40px 0 20px;
}

.copyright {
  margin: 56px 0 0;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: #848480;
}

@media screen and (max-width: 768px) {

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
    width: 50%;
    text-align: center;
    border: 1px solid #E6E8EA
  }
  div.content {margin-left: 0;}
  
  .section {
    padding: 64px 0;
  }

  .content_inner {
    width: 100%;
  }

  .header .content_inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
  }
  
  .column {
    width: 100%;
  }
  .company_table {
    width: 100%;
    margin: 16px 0 0;
  }

  .company_term {
    width: 80px;
    margin: 0 24px 0 0;
    font-size: 12px;
  }

  .company_content {
    width: calc(100% - 104px);
    font-size: 12px;
  }

  .footer .content_inner {
    padding: 24px 0 12px;
  }

  .copyright {
    margin: 12px 0 0;
    font-size: 10px;
  }

}

table{
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	border:1px solid #ccc;
	padding:0;
	margin:0;
}

table tr{
	border:1px solid #ddd;
	padding:5px;
}

table th, table td{
	padding:10px;
	text-align:center;
}

table th{
	font-size:14px;
	letter-spacing:1px;
}

@media screen and (max-width: 768px) {

	table{
		border:0;
	}

	table thead{
		display:none;
	}

	table tr{
		margin-bottom:10px;
		display:block;
		border-bottom:2px solid #ddd;
	}

	table td{
		display:block;
		text-align:right;
		font-size:10px;
		border-bottom:1px dotted #ccc;
	}

	table td:last-child{
		border-bottom:0;
	}

	table td:before {
		content:attr(data-label);
    float:left;
    font-size: 10px;
		font-weight: bold;
	}
}
