body, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dd {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: YuGothic, 'Yu Gothic', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  color: #222;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.clearfix::before {
  display: block;
  content: "";
  clear: both;
}

.section {
  padding: 100px 0;
}

.section_title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #1464C1;
}

.content_inner {
  width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
}

.header {
  width: 100%;
  height: 120px;
  padding: 24px 0;
}

.header_logo_img {
  width: auto;
  height: 36px;
}

.header_menu {
  margin: 16px 0 0;
}

.header_menu_list {
  display: flex;
  justify-content: flex-end;
}

.header_menu_item {
  margin: 0 0 0 24px;
}

.header_menu_item_link {
  font-size: 16px;
  color: #222;
}

.header_menu_toggle {
  display: none;
}

.eyecatch {
  width: 100%;
  min-height: 480px;
  padding: 200px 0 0;
  background: url('../img/bg.png') no-repeat 0 0 #FFF;
  background-size: 100% auto;
}

.eyecatch_title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #FFF;
}

.vision {
  background-color: #F5F4F1;
  text-align: center;
}

.vision_title {
  margin: 72px 0 0;
  font-size: 32px;
  letter-spacing: 1.6px;
}

.vision_text {
  margin: 32px 0 0;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.8px;
}

.service_text {
  margin: 80px 0 0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.8px;
}

.service_block {
  margin: 80px 0 0;
}

.service_board {
  width: 776px;
  height: auto;
  margin: 24px 48px;
  padding: 56px 24px;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}

.service_board_text {
  float: left;
  width: calc(100% - 344px);
  margin: 0 24px 0 0;
}

.service_board_logo > img {
  width: 180px;
  height: auto;
  margin: auto;
}

.service_board_desc {
  margin: 24px 0 0;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
}

.service_board_btn {
  width: 240px;
  height: 48px;
  margin: 48px auto 0;
  border-radius: 24px;
  text-align: center;
}

.service_board_link {
  display: block;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #FFF;
}

.service_board_rank .service_board_btn {
  background-color: #ED890E;
}

.service_board_excite .service_board_btn {
  background-color: #3080E8;
}

.service_board_goo .service_board_btn {
  background-color: #CC3333;
}

.service_board_thumb {
  float: right;
  margin: 48px 0 0;
}

.service_board_img {
  width: 320px;
  height: auto;
}

.service_block .slick-prev, .service_block .slick-next {
  width: 38px;
  height: 62px;
  cursor: pointer;
}

.service_block .slick-prev {
  left: -56px;
}

.service_block .slick-next {
  right: -56px;
}

.service_block .slick-prev:before {
  background: url('../img/arrow_left.png') no-repeat 0 0;
  background-size: 38px 62px;
  font-size: 62px;
  color: rgba(0, 0, 0, 0);
  opacity: 1;
}

.service_block .slick-next:before {
  background: url('../img/arrow_right.png') no-repeat 0 0;
  background-size: 38px 62px;
  font-size: 62px;
  color: rgba(0, 0, 0, 0);
  opacity: 1;
}

.service_block .slick-prev.slick-disabled, .service_block .slick-next.slick-disabled {
  display: none !important;
}

.service_block .slick-dots li button:before {
  color: #D5D4CB;
  opacity: 1;
}

.service_block .slick-dots li.slick-active button:before {
  color: #1464C1;
  opacity: 1;
}


.company {
  background-color: #F5F4F1;
}

.company_table {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  margin: 48px auto 0;
}

.company_list {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 28px 20px 20px;
  border-bottom: 1px solid #D5D4CB;
}

.company_term {
  width: 160px;
  margin: 0 32px 0 0;
  font-size: 14px;
  font-weight: 700;
}

.company_content {
  width: calc(100% - 192px);
  font-size: 14px;
}

.company_content_link {
  color: #3479B7;
}

.company_btn {
  width: 320px;
  height: 64px;
  margin: 100px auto 0;
  background-color: #FFF;
  border: 2px solid #1464C1;
  border-radius: 8px;
  text-align: center;
}

.company_btn_link {
  display: block;
  padding: 16px 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: #1464C1;
}

.footer {
  text-align: center;
}

.footer .content_inner {
  position: relative;
  padding: 40px 0 20px;
}

.footer_logo_img {
  width: 198px;
  height: auto;
  margin: auto;
}

.crooz_logo {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.crooz_logo_img {
  width: 80px;
  height: auto;
}

.copyright {
  margin: 56px 0 0;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: #848480;
}

@media screen and (max-width: 768px) {

  .section {
    padding: 64px 0;
  }

  .section_title {
    font-size: 16px;
    letter-spacing: 0.8px;
  }

  .content_inner {
    width: 100%;
  }

  .header {
    height: auto;
    padding: 8px 12px;
  }

  .header .content_inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
  }

  .header_logo_img {
    height: 24px;
    margin: 4px 0;
  }

  .header_menu_toggle {
    display: block;
  }

  .header_menu_toggle_img {
    width: 32px;
    height: 32px;
  }

  .header_menu {
    display: none;
    width: calc(100% + 24px);
    margin: 4px -12px 0;
  }

  .header_menu_list {
    display: block;
  }

  .header_menu_item {
    margin: 0;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(213,212,203,0.4);
  }

  .header_menu_item:last-child {
    border-bottom: 0;
  }

  .header_menu_item_link {
    font-size: 14px;
  }

  .eyecatch {
    min-height: 224px;
    padding: 80px 0 0;
    background: url('../img/bg_sp.png') no-repeat 0 0 #FFF;
    background-size: 100% auto;
  }

  .eyecatch_title {
    font-size: 20px;
  }

  .vision_title {
    margin: 48px 0 0;
    font-size: 18px;
  }

  .service_text {
    margin: 40px 0 0;
    font-size: 12px;
  }

  .service_block {
    margin: 0 -24px;
  }

  .service_board {
    position: relative;
    margin: 40px 0 32px;
    padding: 32px 20px;
  }

  .service_board_text {
    float: none;
    width: 100%;
    margin: 0;
  }

  .service_board_desc {
    font-size: 12px;
  }

  .service_board_btn {
    position: absolute;
    bottom: 32px;
    width: calc(100% - 40px);
  }

  .service_board_thumb {
    margin: 24px 0 96px;
  }

  .service_board_img {
    width: 100%;
  }

  .service_block .slick-prev, .service_block .slick-next {
    display: none !important;
  }

  .vision_text {
    margin: 24px 0 0;
    font-size: 12px;
  }

  .company_table {
    width: 100%;
    margin: 16px 0 0;
  }

  .company_term {
    width: 80px;
    margin: 0 24px 0 0;
    font-size: 12px;
  }

  .company_content {
    width: calc(100% - 104px);
    font-size: 12px;
  }

  .company_btn {
    width: 100%;
    height: 56px;
    margin: 40px auto 0;
  }

  .company_btn_link {
    padding: 14px 0;
    font-size: 16px;
  }

  .footer .content_inner {
    padding: 24px 0 12px;
  }

  .crooz_logo {
    position: static;
    margin: 12px 0 0;
  }

  .crooz_logo_img {
    margin: auto;
  }

  .copyright {
    margin: 12px 0 0;
    font-size: 10px;
  }

}
